body {
    background: white;
}

.simulation {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: horizontal;
}

.main {
    width: 500px;
    margin-right: 10px;
}

.islands {
    width: 100px;
}

.deme {
    position: relative;
    font-size: small;
}

.island {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 4px;
}

.deme .title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(255,255,255,.5);
}

.mainland .popbar {
    height: 100px;
    padding: 5px;
}

.island .popbar {
    height: 25px;
    padding: 1px;
}

.popbar {
    position: relative;

    display: flex;
    flex-direction: row;
   
    background-color: black;
}

.popbar .bar {
    height: 100%;
    background-color: red;
}

.params {
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.params .param {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.params .param .label {
    width: 160px;
    text-align: right;
}

.params .param input {
    margin-left: 20px;
}

.bubbles {
    width: 100%;
}

.fishy a {
    font-size: small;
}
